
<div *ngIf="trxs">
    <h2><span jhiTranslate="mVtasApp.trxs.detail.title">Trxs</span> {{trxs.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mVtasApp.trxs.pvData">Pv Data</span></dt>
        <dd>
            <span>{{trxs.pvData}}</span>
        </dd>
        <dt><span jhiTranslate="mVtasApp.trxs.idPV">Id PV</span></dt>
        <dd>
            <span>{{trxs.idPV}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trxs-my-suffix/'+ trxs.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
