<div>
    <h2>
        <span jhiTranslate="mVtasApp.pV.home.title">PVS</span>
        <button class="btn btn-primary float-right jh-create-entity create-pv-my-suffix" [routerLink]="['/', { outlets: { popup: ['pv-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mVtasApp.pV.home.createLabel">
            Create new PV
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pVS">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pvNumero"><span jhiTranslate="mVtasApp.pV.pvNumero">Pv Numero</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idComercio"><span jhiTranslate="mVtasApp.pV.idComercio">Id Comercio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trxsId"><span jhiTranslate="mVtasApp.pV.trxs">Trxs</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pV of pVS ;trackBy: trackId">
                <td><a [routerLink]="['../pv-my-suffix', pV.id ]">{{pV.id}}</a></td>
                <td>{{pV.pvNumero}}</td>
                <td>{{pV.idComercio}}</td>
                <td>
                    <div *ngIf="pV.trxsId">
                        <a [routerLink]="['../trxs-my-suffix', pV.trxsId  ]" >{{pV.trxsId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pv-my-suffix', pV.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pv-my-suffix/'+ pV.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pv-my-suffix/'+ pV.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pVS && pVS.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
