
<div *ngIf="pV">
    <h2><span jhiTranslate="mVtasApp.pV.detail.title">PV</span> {{pV.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mVtasApp.pV.pvNumero">Pv Numero</span></dt>
        <dd>
            <span>{{pV.pvNumero}}</span>
        </dd>
        <dt><span jhiTranslate="mVtasApp.pV.idComercio">Id Comercio</span></dt>
        <dd>
            <span>{{pV.idComercio}}</span>
        </dd>
        <dt><span jhiTranslate="mVtasApp.pV.trxs">Trxs</span></dt>
        <dd>
            <div *ngIf="pV.trxsId">
                <a [routerLink]="['/trxs-my-suffix', pV.trxsId]">{{pV.trxsId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pv-my-suffix/'+ pV.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
